.auth {
    min-height: calc(100vh - 60px);
    width: calc(100% - 60px);
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    font-family: "Tilt Prism", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color:black;
    margin: 20px 0px;
}
.auth_container {
    max-width: calc(600px - 100px);
    width: calc(100% - 100px);
    padding: 50px;
    min-height: max-content;
    gap: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
    align-items: center;
    border-radius: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.1);

}
.header_container {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: 100%;
    /* background-color: red; */
}
.header_text {
    font-size: 20px;
    /* margin: 10px 0px; */
}
.tail_text {
    font-size: 15px;
    font-weight: 500;
}
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    /* max-width: 400px; */
    /* margin-top: 30px; */
}
.form_container input {
    width: calc(100% - 30px);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 15px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 8px 0px;
    outline: 1.5px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
    margin-bottom: 30px;
}
.form_container input:focus {
    font-size: 16px;
    color: black;
    font-weight: 500;
}
select {
  width: calc(100% - 0px);
  border: none;
  border-bottom: 1px solid black;
  border-top: solid 0.1px rgb(195, 195, 195);
  border-left: solid 0.1px rgb(195, 195, 195);
  border-right: solid 0.1px rgb(195, 195, 195);
  border-radius: 4px;
  height: 38px;
  color: black;
  background-color: white;
  font-style: normal;
  appearance: none;           /* removes default dropdown arrow */
  -webkit-appearance: none;   /* Safari */
  -moz-appearance: none;      /* Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  /* background-size: 16px; */


    width: calc(100% - 0px);
    border: none;
    border-radius: 5px;
    height: 40px;
    padding: 0px 15px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin: 8px 0px;
    outline: 1.5px solid rgba(0, 0, 0, 0.1);
    font-weight: 500;
    margin-bottom: 30px;
}

.form_container button {
    font-weight: 500;
    width: 100%;
    padding: 15px 15px;
    border-radius: 5px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 27, 134);
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    font-weight: 900;
}
.switch_auth {
    font-size: 15px;
    font-weight: 500;
    /* margin-top: 40px; */
    /* margin-bottom: 70px; */
}
 b {
    color:  rgb(92, 27, 134);
    cursor: pointer;
    font-weight: 900;
    text-decoration: underline;
}

.toggleAuth {
      color:  rgb(92, 27, 134);
    cursor: pointer;
    font-weight: 900;
}

.divider {
    width: 100%;
    border-radius: 10px;
    outline: 0.1px solid rgba(0, 0, 0, 0.1);
    margin: 30px 0px;
}

label {
    width: 100%;
    color:  rgba(0, 0, 0, 0.7);
    /* margin-bottom: 8px; */
    font-weight: 900;
}
