
.data_card {
  width: calc(100% - 60px);
  height: max-content;
   border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    /* background-color: red; */
  padding: 30px 30px;
}
.data_card .heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: start;
  align-items: center;
}
.data_card .add {
  position: absolute;
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 900;
  color: rgb(92, 27, 134) ;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
}
.data_card .add:hover {
   color: rgb(92, 27, 134);
    font-weight: 900;
    font-size: 14px;
    text-decoration:  underline  ;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; 
}
.data_card .body {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  /* background-color: red; */
  display: flex;
  flex-wrap: wrap;
}
.data_card .snip {
  display: flex;
  flex-direction: row;
}

.data_card .snip span {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data_card .snip div {
  width: 300px;
  height: 35px;
  display: flex;
  font-weight: 100;
  align-items: center;
  padding-left: 10px;
}

.exp_card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.exp_card .icon {
  min-width: 55px;
  min-height: 55px;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.exp_card .body {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.exp_card .company {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
}
.exp_card .role {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
}
 .comment {
  font-size: 14px;
  font-weight: normal;
}
.exp_card .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 900;
  color: rgb(92, 27, 134) ;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
}
.exp_card .edit:hover {
    color: rgb(92, 27, 134);
    font-weight: 900;
    font-size: 14px;
    text-decoration:  underline  ;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; 
}
.exp_card .details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 900;
  color: rgb(92, 27, 134) ;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
}
.exp_card .details:hover {
    color: rgb(92, 27, 134);
    font-weight: 900;
    font-size: 14px;
    text-decoration:  underline  ;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; 
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgb(213, 213, 213);
    margin: 20px 0px;
}





/* ---------------- MOBILE ---------------------- */

@media (max-width: 749px) {
  .data_card {
    width: calc(100% - 40px);
    height: max-content;
    border-radius: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    /* background-color: red; */
    padding: 20px;
  }
  .data_card .heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
