.jobs {
    min-height: calc(100vh - 60px);
    width: calc(100% - 60px);
    padding: 30px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image_container {

    width: calc(100% - 0px);
    aspect-ratio: 3.7/1;
    border-radius: 0px;
    
    margin: 0px 0px;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: start;
    position: relative;
    background-color: #cccccc;
}

.image {
    width: 100%;
    height: 100%;
    object-fit:contain;
    display: flex;
    justify-content: end;
    align-items:end;
    /* overflow: hidden; */
    transform: scaleX(-1);
    /* background-color: hotpink; */
}

.image img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    overflow: hidden;
    /* background-color: red; */
    filter: blur(0px);
}

.header_container {
   
     background-image: linear-gradient(94.89deg, rgba(235, 240, 245, 1) 43.87%, rgba(247, 248, 250, 1));

    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;
    width: calc(100% - 40px);
    gap: 30px;
    padding: 0px 20px;
    height: 100px;

    border-radius: 5px;
    z-index: 999;
    position: sticky;
    top: 0px;
    border-bottom: 20px;
    /* outline: 1px solid rgba(0, 0, 0, 0.1); */
}

.tail {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

form {
    all: unset;
    width: 100%;
   
}

.button {
    font-weight: 500;
    width: 140px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(92, 27, 134);
    border-radius: 3px;
    color: white;
    font-size: 15px;
    word-spacing: 3px;
    cursor: pointer;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);

}

.button:hover {
    border: none;
    outline: none;
}

.tail input {
    width: calc(100% - 30px);
    border: none;
    border-radius: 10px;
    height: 40px;
    padding: 0px 15px;
    font-size: 14px;
    color: black;
    background-color: white;
    margin: 10px 0px;
    outline: 1.5px solid rgba(0, 0, 0, 0.1);
}

.tail input::placeholder {
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.jobs_list_container {
    width: calc(100% - 0px);
   
    /* margin: 40px 48px; */
    /* background-color: red; */

}

.job_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.job_card {
    width: calc(100% - 60px);
    padding: 30px 30px;
    min-height: max-content;
    background-color: white;
    gap: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.job_card:hover {
    /* background-color: rgb(243, 243, 243); */
}

.job_card_heading {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
    position: relative;
}
.job_card_heading_tail {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.share {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 50px;
    cursor: pointer;
    border-radius: 10px;
    /* background-color: red; */
    color: rgba(0, 0, 255,0.6);
    color: rgba(92, 27, 134,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.company_name {
    font-weight: 900;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
   
}

.designation {
    font-weight: 900;
    font-size: 16px;
    /* background-color: red; */
}

.comment {
    font-weight: normal;
    font-size: 14px;
}

.posted_by {
    font-weight: 500;
    font-size: 14px;
    /* font-style: italic; */
}

.see_details {
    font-weight: 500;
    font-size: 14px;
    color:  rgb(92, 27, 134);
    cursor: pointer;
    font-weight: bold;

     width: 180px;
    height: 38px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(92, 27, 134);
}

.see_details:hover {
     /* color: rgb(92, 27, 134); */
    
   
    text-decoration:  underline  ;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px; 
}



@media (max-width: 749px) {

    .jobs {
        min-height: calc(100vh - 190px );
        margin-top: 80px;
        margin-bottom: 80px;
        width: calc(100% - 30px);
        padding: 15px ;
        background-color: white;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .header_container {
        background-image: linear-gradient(94.89deg, rgba(235, 240, 245, 1) 43.87%, rgba(247, 248, 250, 1));
        background-image: none;
        background-color: white;
        position: fixed;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content:center;
        align-items: start;
        flex-direction: column;
        width: calc(100% - 40px);
        gap: 30px;
        padding: 0px 20px;
        height: 80px;
        border-radius: 5px;
        z-index: 999;
        /* position: sticky; */
        top: 0px;
        border-bottom: 20px;
        outline: 1px solid rgba(0, 0, 0, 0.1);
    }
    .job_list {
        height: calc(max-content - 40px);
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .job_card {
        width: calc(100% - 40px);
        padding: 20px 20px;
        min-height: max-content;
        background-color: white;
        gap: 15px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        position: relative;
        border-radius: 10px;
        outline: 1px solid rgba(0, 0, 0, 0.1);
    }
    .see_details {
        font-weight: 500;
        font-size: 14px;
        color:  rgb(92, 27, 134);
        cursor: pointer;
        font-weight: bold;

        width: 150px;
        height: 38px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 900;
        border-radius: 5px;
        cursor: pointer;
        background-color: rgb(92, 27, 134);
    }




 }









/* --------------------- JOb PAGE BELOW -------------------- */

















.job_page {
    min-height: calc(100vh - 60px);
    width: calc(100% - 60px);
    padding: 30px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    /* background-color: red; */
}

.job_container {
    width: calc(100% - 60px);
    padding: 30px 30px;
    min-height: max-content;
    background-color: white;
    gap: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
    /* background-color: gold; */
    border-radius: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.1);
     background-image: linear-gradient(94.89deg, rgba(235, 240, 245, 0.5) 43.87%, rgba(247, 248, 250, 0.5));

}

.back {
    width: calc(100% - 0px);
    margin: 0px 0px;
    /* background-color: red; */
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.back:hover {
    color: rgb(92, 27, 134);
}
.divider {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0px;
}
.designation_in_job {
    font-size: 25px;
}
.overview {
    font-weight: 600;
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 10px;
}
.terms {
    font-weight: normal;
    font-size: 14px;
    /* font-style: italic; */
}
.apply {
    width: 90px;
    /* max-width: 600px;
    width: 100%; */
    
    padding: 15px 15px;
    margin-top: 30px;

    height: 35px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(92, 27, 134);
}

.apply_job_form {
    width: 100%;
    margin: 50px 0px;
    /* background-color: red; */
    position: relative;
    /* background-color: red; */
    
}
.form_container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    /* background-color: red; */
    max-width: 600px;
    margin-top: 30px;
     /* background-color: green; */
}
.form_container input {
    width: calc(100% - 30px);
    border: none;
    border: solid 1px rgb(195, 195, 195);
    
    outline: solid 1px rgb(195, 195, 195);
    outline: none;
    border-radius: 4px;
    height: 33px;
    color: aliceblue;
    padding: 0px 15px;
    font-size: 15px;
    color: black;
    background-color: white;
    margin: 10px 0px;
    font-style:normal;

     width: calc(100% - 30px);
    border: none;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 33px;
    padding: 0px 15px;
    font-size: 14px;
    color: black;
    background-color: white;
    margin: 10px 0px;
    font-weight: 500;
}
.form_container input:focus {
    width: calc(100% - 30px);
    
    border: solid 1px  rgb(92, 27, 134);
    outline: solid 1px rgb(195, 195, 195);
    outline: none;
    border-radius: 4px;
    height: 33px;
    color: aliceblue;
    padding: 0px 15px;
    font-size: 15px;
    color: black;
    background-color: white;
    margin: 10px 0px;

     width: calc(100% - 30px);
    border: none;
    outline: 2px solid rgb(92, 27, 134, 0.2);
    border-radius: 5px;
    height: 33px;
    padding: 0px 15px;
    font-size: 14px;
    color: black;
    background-color: white
}
.applied {
    width: calc(100% - 160px);
    padding: 20px 0px;
    margin: 0px 0px;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.job_applies {
    width: calc(100% - 0px);
    padding: 0px 0px;
    margin-top: 20px;
    min-height: max-content;
    background-color: white;
    gap: 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}
.delete_job {
    font-weight: 500;
    width: 100%;
    max-width: 200px;
    padding: 15px 15px;
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    word-spacing: 3px;
    cursor: pointer;
    margin-top: 18px;
    font-weight: bold;
    outline: 1px solid rgba(0, 0, 0, 0.1);

    height: 35px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 749px) { 

    .job_page {
        min-height: calc(100vh - 120px);
        margin-bottom: 90px;
        width: calc(100% - 30px);
        padding:15px;
        background-color: white;
        display: flex;
        flex-direction: column;
        position: relative;
        /* background-color: red; */
        gap: 10px;
    }
    .job_container {
        width: calc(100% - 40px);
        padding: 20px 20px;
        min-height: max-content;
        background-color: white;
        gap: 15px;
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;
        position: relative;
        /* background-color: gold; */
        border-radius: 10px;
        outline: 1px solid rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(94.89deg, rgba(235, 240, 245, 0.5) 43.87%, rgba(247, 248, 250, 0.5));
    }
    .back {
        width: calc(100% - 0px);
        margin: 0px 0px;
        /* background-color: red; */
        margin-bottom: 15px;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    .delete_job {
        font-weight: 500;
        width: max-content;
        min-width: 160px;
        padding: 15px 15px;
        border-radius: 10px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 15px;
        word-spacing: 3px;
        cursor: pointer;
        margin-top: 18px;
        font-weight: bold;
        outline: 1px solid rgba(0, 0, 0, 0.1);

        height: 35px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 900;
        border-radius: 5px;
        cursor: pointer;
    }
    .applied {
        width: calc(100% - 0px);
        padding: 20px 0px;
        margin: 0px 0px;
        /* background-color: red; */
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }


}

