 .spinner {
      width: 30px;
      height: 30px;
      border: 2px solid rgba(92, 27, 134, 0.2);
      border-top: 2px solid rgb(92, 27, 134);
      border-radius: 50%;
      animation: spin 0.3s linear infinite;
      margin: 15px auto; 
      /* Centering */
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .loading {
        width: 100%;
        /* height: 100%; */
        height: min-content;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: red; */
    }