.navbar {
    width: calc(250px - 0px);
    height: 100%;
    background-color: white;
    filter: drop-shadow(10px);
    /* position: fixed; */
   
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 10px;
    cursor: pointer;
    padding: 0px 0px;

    /*  */
    flex-direction: column;
    /* background-color: red; */
     outline: 1px solid rgba(0, 0, 0, 0.1);
}
.links_container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: calc(100% - 20px);
    width: 100%;
    display: flex;
    justify-content: start;
    /* align-items: center; */

    /*  */
    padding: 10px 0px;
    flex-direction: column;
     /* background-color: gold; */
}
.active {
    font-weight: 900;
    font-size: 16px;
    width: calc(max-content - 90px );
    width: calc(240px - 90px);
    padding: 0px 45px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    color: rgb(92, 27, 134);
    gap: 8px;
    background-color: rgb(242, 242, 242);
    /* background-color: aqua; */
}
.active:hover {
    color: rgb(92, 27, 134);
    font-weight: 900;
    font-size: 16px;
    width: calc(250px - 90px );
    background-color: rgb(242, 242, 242);
    
}
.in_active {
    gap: 8px;
    color: black;
    font-weight: normal;
    font-size: 16px;
    width: calc(max-content - 90px);
    padding: 0px 45px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
     border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;

    /* background-color: aqua; */
}
.in_active:hover {
    color: black;
    font-size: 16px;
    background-color: rgb(242, 242, 242);

}
.logo_container {
    width: max-content;
    padding: 0px 36px;
    position: relative;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    width: calc(100% - 72px);
}
.logo {
    font-family: "Tilt Prism", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color:black;
    /* background-color: rebeccapurple; */
     display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100px;
}


@media (max-width: 749px) {
        .navbar {
            width: calc(100vw - 0px);
            height: 80px;
            position: fixed;
            bottom: 0px;
            left: 0px;
            z-index: 99999;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            gap: 10px;
            cursor: pointer;
            padding: 0px 0px;
            flex-direction: column;
            outline: 1px solid rgba(0, 0, 0, 0.1);
        }
        .links_container {
            display: flex;
            width: 100%;
            height: calc(100% - 0px);
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 0px 0px;
            flex-direction: row;
            /* background-color: red; */
              background-image: linear-gradient(94.89deg, rgba(235, 240, 245, 0.5) 43.87%, rgba(247, 248, 250, 0.5));

        }
        .logo_container {
            display: none;
         }
         .icon {

         }
         .text {

         }
         .active {
            font-weight: 900;
            font-size: 14px;
            width: calc(50px - 0px);
            padding: 0px 0px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            flex-direction: column;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            color: rgb(92, 27, 134);
            gap: 0px;
            background-color:transparent;
            position: relative;
            /* background-color: aqua; */
            /* background-color: red; */
        }
        .active:hover {
            color: rgb(92, 27, 134);
            font-weight: 900;
            font-size: 14px;
             width: calc(50px - 0px);
              background-color:transparent;
            
        }
        .active::before {
            content: "";
            position: absolute;
            top: 0px;
            width: 100%;
            height: 4px;
            background-color:  rgb(92, 27, 134);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .in_active {
            gap: 0px;
            color: black;
            font-weight: 500;
            font-size: 14px;
            width: calc(50px - 0px );
            padding: 0px 0px;
             height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
             flex-direction: column;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

              background-color:transparent;
              /* background-color: red; */
        }
        .in_active:hover {
            color: black;
            font-size: 14px;
            background-color:transparent;

        }
}

