.navbar {
    width: calc(250px - 0px);
    height: 100%;
    background-color: white;
    filter: drop-shadow(10px);
    /* position: fixed; */
    top: 0px;
    left: 0px;
    z-index: 99999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 10px;
    cursor: pointer;
    padding: 0px 0px;

    /*  */
    flex-direction: column;
    /* background-color: red; */
     outline: 1px solid rgba(0, 0, 0, 0.1);
}
.links_container {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: calc(100% - 20px);
    width: 100%;
    display: flex;
    justify-content: start;
    /* align-items: center; */

    /*  */
    padding: 10px 0px;
    flex-direction: column;
     /* background-color: gold; */
}
.active {
    font-weight: 900;
    font-size: 16px;
    width: calc(max-content - 90px );
    width: calc(240px - 90px);
    padding: 0px 45px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    color: rgb(92, 27, 134);
    gap: 8px;
    background-color: rgb(242, 242, 242);
    /* background-color: aqua; */
}
.active:hover {
    color: rgb(92, 27, 134);
    font-weight: 900;
    font-size: 16px;
    width: calc(250px - 90px );
    background-color: rgb(242, 242, 242);
    
}
.in_active {
    gap: 8px;
    color: black;
    font-weight: normal;
    font-size: 16px;
    width: calc(max-content - 90px);
    padding: 0px 45px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
     border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;

    /* background-color: aqua; */
}
.in_active:hover {
    color: black;
    font-size: 16px;
    background-color: rgb(242, 242, 242);

}
.logo_container {
    width: max-content;
    padding: 0px 36px;
    position: relative;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    width: calc(100% - 72px);
}
.logo {
    font-family: "Tilt Prism", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color:black;
    /* background-color: rebeccapurple; */
     display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    width: 100px;
}

