.profile {
  min-height: calc(100vh - 60px);
  height: calc(max-content - 60px);
  width: calc(100% - 60px);
  padding: 30px 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.profile_container {
    width: calc(100% - 0px);
    padding: 0px 0px;
   
    min-height: max-content;
    background-color: white;
    gap: 20px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    /* background-color: gold; */
}

.back {
    width: calc(100% - 160px);
    padding: 20px 10px;
    margin: 0px 50px;
    /* background-color: red; */
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.back:hover {
    color: rgb(92, 27, 134);
}

.profile_card {
  max-width: 100%;
  width: calc(100% - 60px);
  padding: 0px 30px;
  height: 180px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(94.89deg, rgba(235, 240, 245, 0.5) 43.87%, rgba(247, 248, 250, 0.5));
}
.profile_card .name {
  font-size: 30px;
  margin-bottom: 2px;
 
  /* background-color: red; */
  
}
.profile_card .email {
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 2px;
}
.profile_card button {
    margin-top: 10px;
    width: 90px;
    height: 35px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(92, 27, 134);
}

.data_card {
  width: calc(100% - 60px);
  height: max-content;
  border-radius: 10px;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 30px 30px;
  font-weight: normal;
  font-size: 14px;
}
.data_card .heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: start;
  align-items: center;
}
.data_card .add {
  position: absolute;
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 900;
  color: rgb(92, 27, 134) ;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
}
.data_card .add:hover {
   color: rgb(92, 27, 134);
    font-weight: 900;
    font-size: 14px;
    text-decoration:  underline  ;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; 
}
.data_card .body {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.data_card .snip {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 300px;
  gap: 8px;
  flex-direction: row;
  /* background-color: red; */
  margin-bottom: 8px;
}

.data_card .snip span {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data_card .snip div {
  width: 300px;
  height: 35px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.exp_card {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.exp_card .icon {
  min-width: 55px;
  min-height: 55px;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.exp_card .body {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.exp_card .company {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  /* background-color: red; */
}
.exp_card .role {
  font-size: 14px;
    margin-bottom: 8px;
  font-weight: bold;
}
.exp_card .comment {
  font-size: 14px;
  font-weight: normal;
}
.exp_card .edit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 900;
  color: rgb(92, 27, 134) ;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
}
.exp_card .edit:hover {
    color: rgb(92, 27, 134);
    font-weight: 900;
    font-size: 14px;
    text-decoration:  underline  ;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px; 
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgb(213, 213, 213);
    margin: 20px 0px;
}
