.app {
  width: 100vw;
  height: calc(100vh );
  /* padding-top: 80px; */
  background-color: rgb(255, 255, 255);
  overflow: scroll;
  color: black;
  position: relative;
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  /* background-color: red; */
}

.pages {
  width: calc(100vw - 250px);
  overflow-y: scroll;
}

@media (max-width: 749px) {
  .pages {
    width: calc(100vw - 0px);
  }
}
